/*----------------------------------------
Background
----------------------------------------*/
.background {
  position: fixed;
  width: inherit;
  height: inherit;
  z-index: -1;
}
.content {
  position: relative;
}
.logo {
  position: relative;
  display: block;
  width: 200px;
  height: 64px;
  margin: 60px auto 30px;
}
.featured {
  position: relative;
  display: block;
  width: 250px;
  height: 200px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin: 0 auto;
}
.text-box {
  display: block;
  width: 225px;
  text-align: center;
  margin-top: 30px;
}
.heading {
  color: #333;
  margin: 0 auto 10px;
}
.description {
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  color: #333;
  margin: 0;
}
.sign-up-btn {
  position: relative;
  display: block;
  width: 255px;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 18px;
  text-align: center;
  color: #fff;
  background: #e73da3;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 25px;
  padding: 10px 0;
  margin: 30px auto;
}